@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rubik+Scribble&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    background-color: rgb(226, 187, 143);
}
header {
position:relative;
top: 0;
left: 0;
width:auto;
padding: 15px 15%;
background-color:transparent;
display: flex;
z-index: 100;
}
.logo {
    justify-content: baseline;
    font-size: 20px;
    color: rgb(75, 20, 20);
    text-decoration: none;
    font-weight: 600;
}
.navbar a {
    font-size: 18px;
    color: rgb(61, 44, 24);
    text-decoration: none;
    font-weight: 400;
    margin-left:300px;
    transition: 1s;
}
.navbar a:hover,
.navbar a.active {
color: rgba(247, 244, 64, 0.637);

}

